[submodule "ToolBoxBackEnd"]
	path = ToolBoxBackEnd
	url = ../ToolBoxBackEnd.git
	branch = develop
[submodule "ToolBoxWebFrontEnd"]
	path = ToolBoxWebFrontEnd
	url = ../ToolBoxWebFrontEnd.git
	branch = main
[submodule "ToolBoxWeiXinFrontEnd"]
	path = ToolBoxWeiXinFrontEnd
	url = ../ToolBoxWeiXinFrontEnd.git
	branch = main
